<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="container p-5 rounded">
        <h1><strong>Edit this List</strong> </h1>
        <%= render 'simple_form', list: @list %>
        <%= link_to "Show this bag", @bags, class: "btn btn-link link-dark" %> |
        <%= link_to "Back to bags index", bags_path, class: "btn btn-link link-dark" %>
      </div>
    </div>
  </div>
</div>
