<div class="container-new">
  <div class="row">
    <div class="container-new p-5 rounded">
      <h1><strong>Create a new List</strong> </h1>
      <%= render 'form', list: @list%>
    </div>
  </div>
</div>
</div>
