// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #FFFFFF;
$black: #000000;
$dark-gray: #333333;
$lilac: #D0BDF4;
$lila-light: #DCCEEA;
$light-gray-2: #888888;
$purple: #5c3d8e;
