.card-gift{


  .card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 7px 7px 15px #D0BDF4;
  }

  .gift-img img {
    width: 200px;
    height: 150px;
    object-fit: cover;
  }

  #gift-title {
    font-size: 20px;
    font-weight: bold;
    color: $purple;
    text-align: center;
  }

  button {
    background-color: $purple;
  }

  h4 {
    color: $purple;
  }

  @media (max-width: 575.98px) {

    width: 90%;

    .gift-img img {
      margin-right: 5px;
    }
  }
}
