
<div class="gift-img"> <%= cl_image_tag gift.photo.key %> </div>

<div class="gift-info-container">
  <div id="gift-title"><%= gift.name %></div>
  <p id="gift-description"><%= gift.description %></p>
  <p id="gift-url">Find it at: <%= gift.address %></p>
</div>
