<h1><strong>Edit this gift</strong> </h1>
  <%= render 'simple_form', gift: @gift %>
  <%= link_to "Show this gift", @gifts, class: "btn btn-link link-dark" %> |
  <%= link_to "Back to list", list_path, class: "btn btn-link link-dark" %>
