<div>
  <% if current_user && @gift.list.user_id == current_user.id %>
    <%= link_to edit_gift_path(@gift) do %>
      <i class="fa-regular fa-pen-to-square" style="color: #D0BDF4;"></i>
    <% end %>
  <% end %>
  <% if current_user && @gift.list.user_id == current_user.id %>
    <%= link_to(gift_path(@gift),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?" }) do %>
      <i class="fa-solid fa-trash" style="color: #D0BDF4;"></i>
    <% end %>
  <% end %>
  <%= link_to list_path(@gift.list, code: @gift.list.code) do %>
    <i class="fa-solid fa-arrow-left-long" style="color: #D0BDF4;"></i>
  <% end %>
</div>
<div class="gift-container p-3">
  <%= render 'gift', gift: @gift%>
</div>
