<h1>Remember the gift!</h1>
<div class = "home-action-container">
  <div id="create"><%= link_to "Create list", new_list_path%></div>
  <div id="see"><%= link_to "See my lists", lists_path %></div>
</div>
