.modal.active {
  display: block;
  background: #0000007d;

  .model-container {
    width: 250px;
    height: 250px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: white;
    border-radius: 10px;

    .p-url {
      display: none;
      position: absolute;
      top: 18px;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 12px;
      color: #780078;
      z-index: 999;
    }

    &:hover {
      .p-url {
        display: block;
      }
    }
  }

  i {
    color: #780078;
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 10px;
  }
}

#qrcode {
  position: relative;
    top: 50%;
    transform: translateY(-50%);
}
